nav{
    height:80px;
    position:sticky;
    display:flex;
    top:0;
    justify-content: space-between;
    padding:1.25rem 2rem;
    background-color: white;
    border-bottom:1px solid lightgray;
    z-index:5;
}
nav>input{
    padding:0.4rem 1rem;
    border:1px solid gray;

}